$primary: #ffade5;
$secondary:#59d8fbad;
$body-bg: #595959;

.profile-image{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 350%;
}

.profile-subheader {
    color: $secondary;
}

.profile-subheader-2 {
    color: $primary;
}
