$primary: #ffade5;
$secondary:#59d8fbad;
$body-bg: #595959;

.back-button {
    padding: 4px 12px 4px 12px;
    color: $secondary;
    border: none;
    border-radius: 4px;
}
  
img {
  width: 100%;
}

.secondary-button {
  color: #59d8fbad;
  text-decoration: none; 
}
  
@import '~bootstrap/scss/bootstrap.scss';